doctype html
html(lang='en')
  head
    title='Search engine'
    link(rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/styles.css')

  body
    block content

    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
    block js
