doctype html
html(lang='en')
  head
    title='Search engine'
    link(rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css')

  body
    h1 Search engine

    //- Seach form
    form(action= '' method= 'GET')
      input(name= 'search' placeholder= 'Search query')

    //- Results
    each result in results
      div
        a(href= result.url)= result.title

  script(src='/bower/jquery/dist/jquery.min.js')
  script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
  //- End body