extends base

block content 
  .container
    h1 search for anything
    form(action='search' method= 'GET')
      input#input-query.input-query-lg(name= 'search' autocomplete= 'false')

block js
  script(type='text/javascript').
    $(function() {
      $('#input-query').focus();
    });